body{
    min-width: 372px;
}

.wrapper{
    min-height: 100vh;
}

.focus-red:focus {
    border-color: #ff0000;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #ff0000;
    box-shadow: none;
}

p.truncar-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}