body{
    min-width: 372px;
}

.wrapper{
    min-height: 100vh;
}

.focus-red:focus {
    border-color: #ff0000;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #ff0000;
    box-shadow: none;
}

p.truncar-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (maax-width: 469px){
    .mt-xs-3{
        margin-top: 1rem;
    }
}

label:hover .text-dark {
    transition: color 0.2s ease;
    color: white !important;
}

label .text-dark {
    transition: color 0.2s ease;
}

.btn-check:checked+.btn-outline-danger .text-dark,
.btn-check:active+.btn-outline-danger .text-dark,
.btn-check:hover+.btn-outline-danger .text-dark  {
    transition: color 0.2s ease;
    color: white !important;
}

.flex-even{
    flex: 1;
    min-width: 300px;
}